*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 17px;
    font-weight: 500;
    overflow-x: hidden;
}
:root{
    --primary-color: #3f000b;
    --section-title-size: 36px;
    
}

                                                        /* Header Part CSS */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 80px;
    z-index: 1000;
}
/* =Nav part CSS=*/
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
}
    /* ==Nav left part CSS== */
.nav-left-part{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left-part>.logo>img{
    width: 160px;
    height: 46px;
}
.nav-menu>ul{
    display: flex;
}
.nav-menu>ul>li{
    padding: 27px;
    position: relative;
}
.nav-menu>ul>li>a{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    white-space: nowrap;
}
.nav-menu>ul>li>a::before{
    content: "";
    background: url(./assets/Hersheys-icon.svg) no-repeat center;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%,-50%); 
    margin-right: 2px;
    display: none; 
}
.nav-menu>ul>li>a:hover::before{
    display: inline-block;
}
.nav-menu>ul>li>a:hover{
    font-weight: 600;
}

.nav-menu>ul>li>a:hover i{
    transform: rotate(180deg);
}
.nav-menu>ul>li>a>i{
    position: relative;
    top: 1px;
    font-size: 24px;
    font-weight: 500;
}
    /* ==nav right part CSS== */
.nav-search-part{
    width: 32%;
    height: 44px;
    display: flex;
    align-items: center;
}

.nav-search-part>input{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 20px;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    font-size: 12px;
    background-color: #F5F5F5;
}
.nav-search-part>button{
    height: 100%;
    width: 47px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F5F5F5;
    color: #083B97;
    cursor: pointer;
}

/* ==Nav left part CSS== |This is for Nav left part nav menu CSS -> Hover Tab effect| */
.hover-tab{
    color: var(--primary-color);
    width: 530px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7.52px 0.48px;
    z-index: 1000;
    background-color: white;
}
.hover-tab>h5{
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
.hover-tab>.brand-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
}
.hover-tab>.brand-items>.item{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
    
}
.hover-tab>.brand-items>.item>img{
    width: 42px;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.hover-tab>.brand-items>.item>h5{
    padding: 10px 0;
}
.hover-tab>.brand-items>.item:hover img{
    transform: scale(1.2);
}

.our-brand-hover-tab{
    position: absolute;
    top: 90%;
    left: 30px;
    display: none;
}
.nav-menu>ul>li>.our-brands:hover .our-brand-hover-tab, .our-brand-list:hover .our-brand-hover-tab{
    display: block;
}




                                                        /* Main Part CSS */
main{
    width: 100vw;
    margin-top: 80px;
    /* background-color: green; */
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Hersheyland-Homepage-Banner.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

/* .hero>.hero-banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
 .hero>.title{
    z-index: 10;
    width: 80%;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Playfair Display";
 }

.hero-product-tab{
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: center;
    height: 82px;
    z-index: 2;
}
.each-product-tab{
    display: flex;
    align-items: center;
    background-color: #003594;
    gap: 20px;
    border-right:3px solid #4068af;
    transition: all 0.6s ease-in-out;
}
.each-product-tab>img{
    background-color: green;
    height: 100%;
    max-width: 83px;
    object-fit: cover;
    opacity: 0.7;
    transition: all 0.6s ease-in-out;
}
.each-product-tab:hover img{
    opacity: 1;
}
.each-product-tab:hover{
    background-color: #4068af;
}
.each-product-tab:hover span{
    text-decoration: none;
}
.each-product-tab>span{
    width: 180px;
    color: white;
    text-decoration: underline;
    transition: all 0.6s ease-in-out;
}
.each-product-tab>span>h4{
    width: 70%;
}

/* Inspiration Tab   */
.find-inspiration-tab{
    height: 50px;
    width: 100vw;
    background-color: #4068AF;
    color: white;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;
    display: none;
}
.find-inspiration-tab>span{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.find-inspiration-tab>span>i{
    font-size: 2rem;
}

/* Explore section */
.explore-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #3f000b;
    padding: 5% 0;
}
.explore-section>.context{
    order: 2;
    background-color: rgb(176,0,96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 30%;
    height: 70vh;
    position: relative;
    right: 35px;
    z-index: 10;
    padding: 0px 25px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);
}
.explore-section>.context>h1{
    font-family: "Playfair Display"; 
    font-weight: 900;
    font-size: 2rem;
}
.explore-section>.context>button{
    background-color: #007BBD;
    width: 80%;
    height: 44px;
    border: none;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.explore-section>.banner{
    overflow: hidden;
    width: 60%;
}
.explore-section>.banner>img{
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.explore-section>.context:hover +.banner>img{
    transform: scale(1.2);
}


/* Recipies section */
.recipes{
    width: 100vw;
    background-color: #B00060;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
/* .tab-1{background-color: green;}
.tab-2{background-color: green;} */
.each-recipe{
    background-color: white;
    color: var(--primary-color);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.each-recipe:hover{
    transform: scale(1.1);
}
.each-recipe:hover .recipe-title>h4{
    text-decoration: underline;
}
.recipes-container{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.recipes-container>h1{
    text-align: center;
    font-family: "Playfair Display";
    color: white;
    font-size: 2.4rem;
    font-weight: 900;
}
.recipes-container>.recipes-images-container{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
}
.recipes-images-container>.tab-1,.tab-2{
    width: 40vw;
}
.tab-1{
    z-index: 10;
}
.tab-1>.each-recipe{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tab-1>.each-recipe>.banner{
    /* background-color: #083B97; */
    border-radius: 5px 5px 0 0;
    height: 90%;
    overflow: hidden;
}
.tab-1>.each-recipe>.banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.15);
}
.tab-1>.each-recipe>.recipe-title{
    padding: 1% 2%;
}


.tab-2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background-color: red; */
}
.tab-2>.each-recipe{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}
.tab-2>.each-recipe>.banner{
    border-radius: 5px 0 0 5px;
    width: 40%;
    background-color: #007BBD;
    overflow: hidden;
}
.tab-2>.each-recipe>.banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}
.tab-2>.each-recipe>.recipe-title{
    width: 60%;
    padding-left: 10px;
}

.recipes-container>button{
    background-color: #007BBD;
    width: 30%;
    height: 48px;
    border: none;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}


/* Brands Section */
.brands-section{
    width: 100vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.brands-container{
    margin: 5% 0;
    width: 100vw;
    /* background-color: fuchsia; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.brands-container>.images-container{
    /* background-color: yellow; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items:center;
    align-items: center;
    gap: 40px 20px;
    padding: 10px;
}

.images-container>.brand-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #007BBD;
    height: 100%;
    min-width: 50%;
    width: 100%;
}
.images-container>.brand-card>.image-banner{
    background-color: darkgoldenrod;
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.brand-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.images-container>.brand-card:hover .image-banner>img{
    transform: scale(1.15);
}
.brand-card>h4{
    text-decoration: underline #007BBD;
    transition: all 0.4s ease-in-out;
}
.images-container>.brand-card:hover h4{
    color: var(--primary-color);
    text-decoration: none;
}
.brands-container button{
    background-color: #007BBD;
    width: 25%;
    height: 48px;
    border: none;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}
.brands-container h1{
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--primary-color);
}


/* Trending Section */
.trending-section{
    background-color: #003594;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
.trending-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px
}
.trending-container>h1{
    font-family: "Playfair Display";
    color: white;
    font-weight: 900;
    font-size: 2.2rem;
}
.trending-container>.trending-images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.trending-images-container>.image-banner{
    width: 40%;
    overflow: hidden;
    position: relative;
}
.trending-images-container>.image-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.trending-images-container>.image-banner>.context{
    background-color: white;
    text-align: left;
    position: absolute;
    z-index: 10;
    bottom: 4%;
    left:4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 2%;
    
    width: 70%;
    font-size: 1rem;
    color: var(--primary-color);
}

.trending-images-container>.image-banner>.context h1{
    font-family: "Playfair Display";
    font-weight: 900;
    /* font-weight: bolder !important; */
    font-size: 1.5rem;
}
.trending-images-container>.image-banner>.context a{
    margin-top: 10px;
    color:#007BBD;
    text-decoration: underline;
    letter-spacing: 1px;
}
.trending-images-container>.image-banner>.context:hover + img{
    transform: scale(1.2);
}
.trending-images-container>.image-banner>.context h4 a:hover{
    text-decoration: none;
    color: var(--primary-color);
}
.trending-container .swiper-tab{
    gap: 10px;
    justify-content: center;
    display: none;
}
.trending-container .swiper-tab i{
    background-color: white;
    color: #003594;
    font-size: 24px;
}

/* font-family: "Playfair Display"; */
