*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    font-size: 17px;
    font-weight: 500;
    overflow-x: hidden;
}
:root{
    --primary-color: #3f000b;
    --section-title-size: 36px;
    
}

                                                        /* Header Part CSS */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 80px;
    z-index: 1000;
}
/* =Nav part CSS=*/
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
}
    /* ==Nav left part CSS== */
.nav-left-part{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left-part>.logo>img{
    width: 160px;
    height: 46px;
}
.nav-menu>ul{
    display: flex;
}
.nav-menu>ul>li{
    padding: 27px;
    position: relative;
}
.nav-menu>ul>li>a{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    white-space: nowrap;
}
.nav-menu>ul>li>a::before{
    content: "";
    background: url(./assets/Hersheys-icon.svg) no-repeat center;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%,-50%); 
    margin-right: 2px;
    display: none; 
}
.nav-menu>ul>li>a:hover::before{
    display: inline-block;
}
.nav-menu>ul>li>a:hover{
    font-weight: 600;
}

.nav-menu>ul>li>a:hover i{
    transform: rotate(180deg);
}
.nav-menu>ul>li>a>i{
    position: relative;
    top: 1px;
    font-size: 24px;
    font-weight: 500;
}
    /* ==nav right part CSS== */
.nav-search-part{
    width: 32%;
    height: 44px;
    display: flex;
    align-items: center;
}

.nav-search-part>input{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 20px;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    font-size: 12px;
    background-color: #F5F5F5;
}
.nav-search-part>button{
    height: 100%;
    width: 47px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F5F5F5;
    color: #083B97;
    cursor: pointer;
}

/* ==Nav left part CSS== |This is for Nav left part nav menu CSS -> Hover Tab effect| */
.hover-tab{
    color: var(--primary-color);
    width: 530px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7.52px 0.48px;
    z-index: 1000;
    background-color: white;
}
.hover-tab>h5{
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
.hover-tab>.brand-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
}
.hover-tab>.brand-items>.item{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
    
}
.hover-tab>.brand-items>.item>img{
    width: 42px;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.hover-tab>.brand-items>.item>h5{
    padding: 10px 0;
}
.hover-tab>.brand-items>.item:hover img{
    transform: scale(1.2);
}

.our-brand-hover-tab{
    position: absolute;
    top: 90%;
    left: 30px;
    display: none;
}
.nav-menu>ul>li>.our-brands:hover .our-brand-hover-tab, .our-brand-list:hover .our-brand-hover-tab{
    display: block;
}




                                                        /* Main Part CSS */
main{
    width: 100%;
    margin-top: 80px;
    background-color: green;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Hersheyland-Homepage-Banner.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

/* .hero>.hero-banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
 .hero>.title{
    width: 80%;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Playfair Display";
 }

.hero-product-tab{
    position: absolute;
    bottom: -5%;
    display: flex;
    justify-content: center;
    height: 82px;
    z-index: 2;
}
.each-product-tab{
    display: flex;
    align-items: center;
    background-color: #003594;
    gap: 20px;
    border-right:3px solid #4068af;
    transition: all 0.6s ease-in-out;
}
.each-product-tab>img{
    background-color: green;
    height: 100%;
    max-width: 83px;
    object-fit: cover;
    opacity: 0.7;
    transition: all 0.6s ease-in-out;
}
.each-product-tab:hover img{
    opacity: 1;
}
.each-product-tab:hover{
    background-color: #4068af;
}
.each-product-tab:hover span{
    text-decoration: none;
}
.each-product-tab>span{
    width: 180px;
    color: white;
    text-decoration: underline;
    transition: all 0.6s ease-in-out;
}
.each-product-tab>span>h4{
    width: 70%;
}

.find-inspiration-tab{
    height: 50px;
    width: 100%;
    background-color: #4068AF;
    color: white;
    justify-content: center;
    align-items: center;

    position: sticky;
    bottom: 0;
    display: none;
}
.find-inspiration-tab>span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.find-inspiration-tab>span>i{
    font-size: 36px;
}

.explore-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #3f000b;
    padding: 90px 0px;
}
.explore-section>.context{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 30%;
    height: 70vh;
    position: relative;
    right: 35px;
    z-index: 2;
    padding: 0px 25px;
    text-align: center;
    color: white;
}
.explore-section>.context>h1{
    font-family: "Playfair Display"; 
    font-weight: 900;
    font-size: 2rem;
}
.explore-section>.banner{
    background-color: fuchsia;
    width: 60%;
}
.explore-section>.banner>img{
    width: 100%;
}

/* font-family: "Playfair Display"; */
