*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 17px;
    font-weight: 500;
    overflow-x: hidden;
}
:root{
    --primary-color: #3f000b;
    --section-title-size: 36px;
    
}

                                                        /* Header Part CSS */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 80px;
    z-index: 1000;
}
/* =Nav part CSS=*/
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
}
    /* ==Nav left part CSS== */
.nav-left-part{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left-part>.logo>a>img{
    width: 160px;
    height: 46px;
}
.nav-menu>ul{
    display: flex;
}
.nav-menu>ul>li{
    padding: 27px;
    position: relative;
}
.nav-menu>ul>li>a{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    white-space: nowrap;
}
.nav-menu>ul>li>a::before{
    content: "";
    background: url(./assets/Hersheys-icon.svg) no-repeat center;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%,-50%); 
    margin-right: 2px;
    display: none; 
}
.nav-menu>ul>li>a:hover::before{
    display: inline-block;
}
.nav-menu>ul>li>a:hover{
    font-weight: 600;
}

.nav-menu>ul>li>a:hover i{
    transform: rotate(180deg);
}
.nav-menu>ul>li>a>i{
    position: relative;
    top: 1px;
    font-size: 24px;
    font-weight: 500;
}
    /* ==nav right part CSS== */
.nav-search-part{
    width: 32%;
    height: 44px;
    display: flex;
    align-items: center;
}

.nav-search-part>input{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 20px;
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    font-size: 12px;
    background-color: #F5F5F5;
}
.nav-search-part>button{
    height: 100%;
    width: 47px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F5F5F5;
    color: #083B97;
    cursor: pointer;
}

/* ==Nav left part CSS== |This is for Nav left part nav menu CSS -> Hover Tab effect| */
.hover-tab{
    color: var(--primary-color);
    width: 530px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7.52px 0.48px;
    z-index: 1000;
    background-color: white;
}
.hover-tab>h5{
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
.hover-tab>h5:hover +i{
    display: inline-block;
    animation: arrow_movement 1s linear infinite;
}
@keyframes arrow_movement {
    0%{
        transform: none;
    }
    50%{
        transform: translateX(3px);
    }
    100%{
        transform: translateX(0px);
    }

}
.hover-tab>.brand-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 20px;
}
.hover-tab>.brand-items>.item{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 7.52px 0.48px;
    
}
.hover-tab>.brand-items>.item>img{
    width: 42px;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.hover-tab>.brand-items>.item>h5{
    padding: 10px 0;
}
.hover-tab>.brand-items>.item:hover img{
    transform: scale(1.2);
}

.our-brand-hover-tab,.about-us-hover-tab{
    position: absolute;
    top: 90%;
    left: 30px;
    display: none;
}
.nav-menu>ul>li>.our-brands:hover .our-brand-hover-tab, .our-brand-list:hover .our-brand-hover-tab{
    display: block;
}
.nav-menu>ul>li>.about-us:hover .abour-us-hover-tab, .about-us-list:hover .about-us-hover-tab{
    display: block;
}




                                                        /* Main Part CSS */
main{
    width: 100vw;
    margin-top: 80px;
}


/* title banner section */
.title-banner-section{
    padding-top: 10px;
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.title-banner-section h1{
    font-family: "Playfair Display";
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
}
.title-banner-section .share-link{
    background-color: #007BBD;
    padding: 10px 20px;
    border-radius: 24px;
}
.title-banner-section .share-link i{
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    padding:10px;
    display: inline-block;
}
.title-banner-section .share-link i:hover{
    color: #007BBD;
    background-color: white;
}
.title-banner-section .details{
    width: 80%;
    background-color: #EE7700;
    display: flex;
    align-items: center;
}
.title-banner-section .details .banner{
    width: 75%;
    height: 70vh;
    overflow: hidden;
    object-fit: contain;
}
.title-banner-section .details .banner>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.title-banner-section .details .context{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    gap: 15px;
}
.title-banner-section .details .context h2{
    font-family: "Playfair Display"; 
    font-weight: 900;
    font-size: 2rem;
}
.title-banner-section .details .context .description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title-banner-section .details .context .description .each-detail{
    text-align: center;
    font-size: 10px;
    font-weight: 600;
}
.title-banner-section .details .context .description .each-detail h4{
    font-size: 14px;
}
.title-banner-section .details .context .description .each-detail span{
    letter-spacing: 1px;
    margin-left: 4px;
}






/* ingredients-directions section */
.ingredients-directions{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #3f000b;
}
.ingredients-directions>.title{
    font-family: Playfair Display;
    background-color: #EE7700;
    font-weight: 900;
    font-size: 2.4rem;
    color: var(--primary-color);
    padding: 3%;
    align-self: flex-start;
    width: 100%;
}
.ingredients-directions>.context-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 25px;
    padding: 10%;
}
.ingredients-directions>.context-container .ingredients-container{
    flex: 1;
}
.ingredients-directions>.context-container .ingredients-container .ingredients-context{
    background-color: white;
    padding: 15px;
}
.ingredients-directions>.context-container .ingredients-container .inner-container{
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 10px 10px 20px 10px;
}
.ingredients-container>h2, .directions-container>h2{
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.context-container .directions-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.equipments{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 10px;
}
.equipments-details{
    display: flex;
    gap: 20%;
}
.each-equipment{
    display: flex;
    gap: 15px;
    align-items: center;
}
.each-equipment img{
    width: 24px;
}
.steps{
    background-color: white;
    padding: 10px;
}
.steps .each-step{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px
}

.steps .each-step{
    border-bottom: 1px solid black;
}
.steps .each-step:last-child{
    border: none;
}
.steps .each-step p{
    font-size: 14px;
}
.steps .each-step .step-number{
    background-color: #EE7700;
    display: inline-block;
    width: 42px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.more-like-this-section{
    background-color: white;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3px 0;
}
.more-like-this-section a{color: #3f000b;}
.more-like-this-section h3{
    font-family: Playfair Display;
    font-weight: 900;
}




/* video-section */
.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8% 0;
}
.video-container{
    width: 70%;
    overflow: hidden;
}

.video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 500;
}
.play-video img{
    width: 44px;
}
.video-section p{
    font-size: 14px;
    color: var(--primary-color);
}



.recipes{
    padding: 4%;
    background-color: #002871;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.recipes-card-container{
    width:100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}
.recipes-card-container .each-card{
    overflow: hidden;
}
.each-recipe:hover{
    transform: scale(1.1);
}
.recipes-container h1{
    text-align: center;
    font-family: "Playfair Display";
    color: white;
    font-size: 2.4rem;
    font-weight: 900;
}

.card{
    background-color: white;
    border-radius: 4px;
    transition: all 0.9 ease-in-out;
}
.card:hover{
    cursor: pointer;
}
.card:hover img {
    transform: scale(1.15);
}
.card:hover >h4{
    text-decoration: underline;
}
.card .banner{
    border-radius: 5px 5px 0 0;
    height: 80%;
    overflow: hidden;
}
.card .banner>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}
.card h4{
    padding: 2px 0 20px 2px;
}


.recipes-container>button{
    cursor: pointer;
    background-color: #007BBD;
    width: 30%;
    height: 48px;
    border: none;
    border-radius: 22px;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}
.recipes-container>button:hover{
    background-color: #2f8abc;
}
.recipes-container>button a{
    color: white;
}










/* font-family: "Playfair Display"; */








/* Footer */
.social-media-container{
    background-color: #B00060;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 12px 0 12px 160px;
    border-top: 1px solid white;
}
.social-media-container>p{
    font-size: 14px;
    color: white;
    font-weight: 400;
}
.social-media-icons{
    display: flex;
    align-items: center;
    font-size:20px;
}
.social-media-icons a{
    color: #007BBD;
    padding: 0 20px;
    border-right: 1px solid white;
}
.social-media-icons a:hover{
    color: #2f8abc;
}



.details-contact-container{
    display: flex;
}
.details-contact-container>.details{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.details-contact-container>.details>.logo img{
    width: 230px;
}
.details-contact-container>.details>.context{
    display: flex;
    justify-content: space-around;
}
.details-contact-container>.details>.context>.each-detail-context{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-right: 1px solid #003594;
}
.details-contact-container>.details>.context>.each-detail-context a{
    color: #007BBD;
    text-decoration: underline;
}
.details-contact-container>.details>.context>.each-detail-context a:hover{
    text-decoration: none;
    color: #3f000b;
}
.details-contact-container>.details>.context>.each-detail-context:nth-child(3){
    border-right: none;
}
.details-contact-container>.contact{
    padding: 20px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F6F6F6;
}
.details-contact-container>.contact p{
    font-size: 12px;
    letter-spacing: 1px;
}

.details-contact-container>.contact button{
    cursor: pointer;
    width: 60%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 0.9rem;
    color: white;
    background-color: #007BBD;
}
.details-contact-container>.contact button:hover{
    background-color: #2f8abc;
}
.details-contact-container>.contact button a{
    color: white;
}


.privay-policy-container{
    background-color: #3f000b;
    color: white;
    font-size: 12px;
    padding: 1% 7% 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.privay-policy-container>.switch-contrast{
    display: flex;
    align-items: center;
    gap: 10px;
}
.privay-policy-container>.switch-contrast i{
    font-size: 2rem;
}
.privay-policy-container>.switch-contrast p span{
    text-decoration: underline;
    font-weight: 700;
}
.privay-policy-container>.terms{
    display: flex;
}
.privay-policy-container>.terms a{
    color: white;
    padding: 2px 10px;
    border-right: 1px solid white;
    text-decoration: underline;
}
.privay-policy-container>.terms a:hover{
    text-decoration: none;
}
.privay-policy-container>.terms a:nth-child(3){
    border: none;
}


.footer-sticky{
    position: sticky;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #003594;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.footer-sticky .hershey-varities{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-weight: bold;
}
.footer-sticky .hershey-varities a{
    color: white;
    text-decoration: underline;
}
.footer-sticky .hershey-varities a:hover{
    text-decoration: none;
}

