*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{

    /* border: 1px solid black; */
    background-color: white;
    color: #3f0003;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Poppins", serif;
}
.nav-lft-container{
    /* border: 1px solid black; */
    height: 11vh;
    width: 67.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.logo-img{
    /* border: 1px solid black; */
    height: 11vh;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img>img{

    width: 157.28px;
    height: 46px;
}
.logo-img:hover{
    cursor: pointer;
}
.dropdown-1{
    height: 11vh;
    width: 75vw;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.dropdown-div-1{
    /* border: 1px solid black; */
    height: 79.5px;
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-div-2{
    /* border: 1px solid black; */
    height: 79.5px;
    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-div-3{
    /* border: 1px solid black; */
    height: 79.5px;
    width: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-div-4{
    /* border: 1px solid black; */
    height: 79.5px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-div-5{
    /* border: 1px solid black; */
    height: 79.5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-div-c1{
    /* border: 1px solid black; */
    width: 114px;
    height: 25.5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-div-c1:hover{
    cursor: pointer;
}
.dropdown-div-c2{
    /* border: 1px solid black; */
    width: 72px;
    height: 25.5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-div-c2:hover{
    cursor: pointer;
}
.dropdown-div-c3{
    /* border: 1px solid black; */
    width: 99px;
    height: 25.5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-div-c3:hover{
    cursor: pointer;
}
.dropdown-div-c4{
    /* border: 1px solid black; */
    width: 64px;
    height: 25.5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-div-c4:hover{
    cursor: pointer;
}
.dropdown-div-c5{
    /* border: 1px solid black; */
    width: 46px;
    height: 25.5px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-div-c5:hover{
    cursor: pointer;
}

.nav-ri8-container{
    /* border: 1px solid black; */
    height: 10.9vh;
    width: 29.76vw;
    display: flex;
    flex-direction: row;
}

.global-searchbar-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 29.76vw;   
}

input{
    height: 44px;
    width: 413.26px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
}
.search-2{
    height: 44px;
    width: 42px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border-radius: 0px 20px 20px 0px;
}
.search-icon{
    height: 20px;
    width: 20px;
}
.search-icon:hover{
    cursor: pointer;
}
.banner>.gift-banner{
    width: 100%;
    margin-bottom: 106px;
}
.img-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;

}
h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
}
.para>p{
    text-align: center;
    margin-bottom: 5px;
}
.hersheys-kisses{
    margin-top: 100px;  
    display: flex;  
    flex-direction: row;
}
.hersheys-kisses>img{
    width: 764px;
}
.hersheys-kisses>.container{
    background-color:#003593;
    color: white;
    height: 764px;
    width: 764px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 26px;
}
.box-head{
    width: 462px;
    height: 400px; 
    margin-left: 10px;  
}
.box-h1{
    font-size: 52px;
    font-family: "Playfair Display", serif;
    margin-bottom: 48px;
}
.box-para{
    font-size: 20px;
    font-family: "Poppins", serif;
}
.box-head>button{
    font-size: 16px;
    padding: 20px;
    border-radius: 40px;
    font-weight: bold;
    background-color:  #007BBD;
    border: none;
    margin-left: 35px;
    margin-top: 60px;
    color: white;
}

.brown-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.brown-img{
    width: 764px;
}
.brown-right{
    background-color: #3f0003;
    width: 759px;
    height: 800px;
}
.brown-content{
    color: white;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 100px 30px;
    margin-top: 200px;
}
.brown-content>h1{
    font-size: 52px;
    font-family: "Playfair Display", serif;
    margin-bottom: 48px;
}
.brown-content>p{
    font-size: 20px;
    font-family: "Poppins", serif;
}
.brown-content>button{
    color: white;
    width: 150px !important;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 12px; 
    border-radius: 40px;
    font-weight: bold;
    background-color: #007BBD;
    border: none;
    margin-left: 35px;
    margin-top: 60px;
}
.yellow-container{
    display: flex;
    flex-direction: row;
}
.yellow-container>img{
    width: 764px;

}
.yellow-box{
    background-color: #FEC627;
    width: 764px;
    height: 764px;
}
.yellow-content{
    color: #3f0003;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 100px 30px;
    margin-top: 260px;
}
.yellow-content>h1{
    font-size: 52px;
    font-family: "Playfair Display", serif;
    margin-bottom: 48px;
}
.yellow-content>p{
    font-size: 20px;
    font-family: "Poppins", serif;
}
.yellow-content>button{
    color: white;
    width: 150px !important;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 12px; 
    border-radius: 40px;
    font-weight: bold;
    background-color: #007BBD;
    border: none;
    margin-left: 35px;
    margin-top: 60px;
}
.gift-container{
    background-color: #003593;
    width: 100%;
    height: 643px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lft-arrow{
    background-color: white;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lft-arrow>img{
    width: 15px;
    height: 17px;
}
.gft-left-container{
    background-color: white;
    height: 505px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gft-left-container>img{
    height: 360px;
}
.product-description{
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.gft-center-container{
    background-color: white;
    height: 505px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.gft-center-container>img{
    height: 380px;
}
.gft-ri8-container{
    background-color: white;
    height: 505px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.gft-ri8-container>img{
    height: 380px;
}
.product-description>.product{
    color: #3f0003;
    font-size: 18px;
    font-weight: bold;
}
.product-description>.buy{
    font-size: 17px;
    font-weight: bold;
    color: #007BBD;
}
.ri8-arrow{
    background-color: white;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ri8-arrow>img{
    width: 15px;
    height: 17px;
}

.social-media{

    background-color: #b00060;
    height: 50px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
}

.sm-icons{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}
.sm-icons-content{
    padding-left: 90px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sm-icons-content-1{
    padding-right: 45px;
    display: flex;
    font-size: 30px;
    align-items: center;

}
.sm-icons-content-1>p{
    margin-bottom: 5px;
}
.fb-icon, .instagram-icon, .youtube{
    /* border: 1px solid black; */
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fb-icon>img{
    height: 20px;
    width: 20px;
}
.instagram-icon>img{
    height: 20px;
    width: 25px;
}
.youtube>img{
    height: 24px;
    width: 25px;
}



.contact-service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 132px;
}
.contact-service-logo{
    /* border: 1px solid black; */
    height: 132px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    padding-left: 60px;
}
.logo-brands{
    height: 104px;
    padding: 20px 20px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-brands>img{
    height: 64px;
    width: 220px;
}
.logo-content{
    /* border: 1px solid black; */
    height: 132px;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-around;
    align-items: center;
}
.logo-content-brands{
    height: 130px;
    width: 183.44px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo-content>p{
    font-size: 70px;
    color: rgb(211, 211, 211);
}
.logo-name>a{
    color: #007BBD;
    font-size: 18px;
}
.logo-name>img{
    height: 30px;
    width: 30px;
    
}
.logo-name-1{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 67px;
    width: 184.44px;
}
.logo-name-2{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 67px;
    width: 184.44px;
}
.logo-name-3{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 67px;
    width: 182.44px;
    
}
.contact-customer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}
.contact-customer>p{
    margin-bottom: 10px;
    font-size: 14px;
}
.contact-customer>button{
    background-color: #007BBD;
    color: white;
    padding: 13px 70px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.footer{

    background-color: #3f0003;
    color: white;
    height: 15vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-container-lft{
    /* border: 1px solid black  */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}
.toggle-container{
    background-color: #4b3435;
    height: 17px;
    width: 45px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 4px;
}
.toggle-button{
    background-color: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}
.footer-container-ri8{
    color: white;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    
}
.ri8-footer-content{
    /* border: 2px solid white; */
    height: 100px;
    width: 400px;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;

}
.ri8-footer-content>a,p{
    color: white;
    
}
.ri8-footer-content>p{
    font-size: 16px;
    /* margin: 0px 9px; */
    
}


