* {
    box-sizing: border-box;;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    /* width: 100vw; */
    /* height: 100vh; */
    overflow-x: hidden;
}


.brand-banner img {
    width: 100%;
}

.celebrate-text {
    color: #3f000b;
    /* text-align: center; */
    /* border: 2px solid black; */
    margin: 50px auto 100px;
    max-width: 1200px;
    font-size: 20px;
}
  
.celebrate-text h2 {
    font-family: "Playfair", serif;
    font-weight: 900;
    font-size: 36px;
    text-align: left;
    justify-content: center;
    margin-bottom: 15px;
}

.year-text {
    font-size: 66px; 
    font-family: "Playfair", serif;
    font-weight: 900; 
    height: 50px;
    top: 10px;
    left: 40px;
    /* border: 2px solid black; */
    /* color: #fff;  */
    position: absolute; 
    /* z-index: 10; */
}

.call-out-card {
    position: relative;
    display: flex;
    padding-top: 5%;
    justify-content: space-between;
    background-color: #3f000b;
    color: #fff;
    align-items: center;
  }

  .card-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
  }
  
  .card-content {
    flex: 1;
    margin-left: 5%;
  }
  
  .card-subHeading {
    font-size: 20px;
    margin-bottom: 30px;
    width: 50%;
  }
  
  .card-button button {
    background-color: #007bbd;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
  }
  
  .card-button button:hover {
    background-color: #268fc7;
  }
  
  .card-img {
    flex: 1;
  }
  
  .card-img img {
    transition: transform 0.3s ease;
    width: 100%;
    display: block;
  }
  
  .card2 {
    background-color: #003594;
  }
  
  .card3 {
    background-color: #ffc627;
    color: #3f000b;
  }

  .card4 {
    background-color: rgb(173, 34, 92) ;
  }


.trending-section{
    background-color: rgb(173, 34, 92);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 0;
}

.trending-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.trending-container>.trending-images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.trending-images-container>.image-banner{
    width: 40%;
    overflow: hidden;
    position: relative;
}

.trending-images-container>.image-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.trending-images-container>.image-banner>.context{
    background-color: white;
    text-align: left;
    position: absolute;
    z-index: 10;
    bottom: 4%;
    left:4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 2%;
    
    width: 70%;
    font-size: 1rem;
    color: var(--primary-color);
}

.trending-images-container>.image-banner>.context h1{
    font-family: "Playfair Display";
    font-weight: 900;
    /* font-weight: bolder !important; */
    font-size: 1.5rem;
}

.trending-images-container>.image-banner>.context a{
    margin-top: 10px;
    color:#007BBD;
    text-decoration: underline;
    letter-spacing: 1px;
}

.trending-images-container>.image-banner>.context:hover + img{
    transform: scale(1.2);
}

.trending-images-container>.image-banner>.context h4 a:hover{
    text-decoration: none;
    color: var(--primary-color);
}

.trending-container .swiper-tab{
    gap: 10px;
    justify-content: center;
    display: none;
}
.trending-container .swiper-tab i{
    background-color: white;
    color: #003594;
    font-size: 24px;
}
